<section class="register-form">
  <div class="container">
    <!-- Login Card -->
    <div class="card">
      <div class="card-header">
        <h1><span class="book">Book</span><span class="shop">Shop</span></h1>
        <p>Créez votre compte gratuitement</p>
      </div>

      <!-- Alert Messages -->
      @if (messageAlert()) {
      <div class="alert alert-{{alert()}} d-flex align-items-center mb-4" role="alert">
        <i class="bi bi-{{alert() === 'success' ? 'check-circle' : 'exclamation-triangle'}} me-2 fs-5"></i>
        <div class="flex-grow-1">
          {{messageAlert()}}
        </div>
      </div>
      }

      <!-- Login Form -->
      <form (submit)="onSubmit($event)">
        <div class="text-end mb-2">
          <span class="text-muted small"><i class="bi bi-asterisk text-danger small"></i> champ requis</span>
        </div>
        @let lastname = registerForm.lastname();
        <div class="mb-3">
          <label for="lastname" class="form-label">
            Nom <span class="text-danger">*</span>
          </label>

          <input type="text" [class.bad]="submitted() && lastname.invalid()" [formField]="registerForm.lastname" id="lastname">

          @if (lastname.invalid() && lastname.touched()) {
          <div class="error">
            @for (error of lastname.errors(); track error.kind) {
            <span>{{ error.message }}</span>
            }
          </div>
          }
        </div>

        @let firstname = registerForm.firstname();
        <div class="mb-3">
          <label for="firstname" class="form-label">
            Prénom <span class="text-danger">*</span>
          </label>

          <input type="text" [class.bad]="submitted() && firstname.invalid()" [formField]="registerForm.firstname" id="firstname">

          @if (firstname.invalid() && firstname.touched()) {
          <div class="error">
            @for (error of firstname.errors(); track error.kind) {
            <span>{{ error.message }}</span>
            }
          </div>
          }
        </div>

        @let pseudo = registerForm.pseudo();
        <div class="mb-4">
          <label for="pseudo" class="form-label">
            Pseudo <span class="text-danger">*</span>
          </label>

          <input type="text" [class.bad]="submitted() && pseudo.invalid()" [formField]="registerForm.pseudo" id="pseudo">

          @if (pseudo.invalid() && pseudo.touched()) {
          <div class="error">
            @for (error of pseudo.errors(); track error.kind) {
            <span>{{ error.message }}</span>
            }
          </div>
          }
        </div>

        @let email = registerForm.email();
        <div class="mb-3">
          <label for="email" class="form-label">
            Adresse mail <span class="text-danger">*</span>
          </label>

          <input type="email" [class.bad]="submitted() && email.invalid()" [formField]="registerForm.email" id="email" placeholder="nom@exemple.fr">

          @if (email.invalid() && email.touched()) {
          <div class="error">
            @for (error of email.errors(); track error.kind) {
            <span>{{ error.message }}</span>
            }
          </div>
          }
        </div>

        @let passwd = registerForm.password();
        <div class="mb-4">
          <label for="password" class="form-label">
            Mot de passe <span class="text-danger">*</span>
          </label>
          <input type="password" [class.bad]="submitted() && passwd.invalid()" [formField]="registerForm.password" id="password" placeholder="8 caractères minimum">
          @if (passwd.invalid() && passwd.touched()) {
          <div class="error">
            @for (error of passwd.errors(); track error.kind) {
            <span>{{ error.message }}</span>
            }
          </div>
          }
        </div>

        <button type="submit" [disabled]="registerForm().invalid()" class="btn btn-primary w-100 py-2 fw-semibold mb-3">
          <i class="bi bi-person-plus me-2"></i>
          S'inscrire
        </button>
      </form>
      <div class="card-foot">
        <p class="foot">
          Vous avez déjà un compte ?
          <a routerLink="/login">
            Se connecter
          </a>
        </p>
      </div>
    </div>
  </div>
</section>