/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif:ital,wght@0,100..900;1,100..900&display=swap');


* {
  box-sizing: border-box;
}



html, body{
  height:100%;
  margin:0;
}

app-root{
  display:block;        /* rend la hauteur applicable */
  height:100%;          /* prend toute la hauteur du body */
}

ul,
ol {
  list-style: none;
}


.bi-asterisk{
  color: red;
}

app-parametres {
  height: 100%;
  display: flex;
  justify-content: center;
}
